# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\VSCodeWorkPath\Python\IEEE33BW_Reconfigration_NormalLightDamage\case33Py\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
